movie-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin-top: 5vh;
    color: white;
  }

  h1{
    font-size: 20vh;
    color: white;
  }
  
  .movie-detail-content {
    text-align: center;
    margin-top: 10vh;
    color: white;
  }

  p{
    font-size: 2vh;
    color: white;
  }
  
  .movie-detail-img {
    max-width: 100%;
    height: 70vh;
    padding-bottom: 0;
    border-radius: 4vh;
    
  }

  .button-go-back{
    border-radius: 5vh;
    background-color: #333;
    color: whitesmoke;
    padding-left: 5vh;
    padding-right: 5vh;
  }

