body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-decoration: none;
}

.home-title{
    text-align: center;
    font-size: 10vh;
    color: rgb(61, 61, 61);
}

a.movie-link{
  text-decoration: none;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
    text-decoration: none;
  }
  
  .movie-card {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    text-decoration: none;
    color: black;
    list-style: none;
    text-decoration: none;
  }
  
  .movie-poster {
    width: 100%;
    max-width: 25vh;
    height: 40vh
  }
  