/* login.css */

/* login.css */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.login-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 30%; 
}

  .login-title {
    font-size: 20vh;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  p {
    margin: 10px 0;
  }
  
  .register-link {
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
  }
  

  .button-login{
    border-radius: 5vh;
    background-color: #333;
    color: whitesmoke;
    padding-left: 5vh;
    padding-right: 5vh;
    margin: 1vh;
  }

  